<!DOCTYPE html>
<html>
  <head>
    <script src="plantViewLogic.js" defer></script>
  </head>
  <body>
    <div class="plant-information-container">
      <div class="image-side">
        <img src="/images/uploads/<%= plant.img %>" alt="plant" />
        <h3><%= plant.name %></h3>
        <p>Picture taken in <%= plant.location %></p>
        <p>Seen at <%= plant.sight_time_formatted %></p>
        <p>Uploaded by: <%= plant.user_nickname %></p>
        <p><%= plant.time_formatted %></p>
      </div>
      <div class="information-side">
        <div class="plant-information">
          <p><%= plant.desc %></p>
        </div>
        <!-- Message Area for comments -->
        <div id="message_area" class="message-area">
          <% comments.forEach(function(comment) { %>
            <p><b> <%= comment.name %>:</b> <%= comment.message %></p>
          <% }); %>
        </div>
        <form onSubmit="return false;" style="width: 100%">
          <p>
            <input
              type="text"
              id="comment_input"
              name="chat_input"
              style="width: 80%"
              placeholder="Write a comment..."
            />
            <button id="chat_send" , onclick="sendComment()">Send</button>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>