<!DOCTYPE html>
<html>
  <head>
    <script src="plantViewLogic.js" defer></script>
  </head>
  <body>
    <div class="plant-information-container">
      <div class="image-side">
        <img src="/images/uploads/<%= plant.img %>" alt="plant" class="plant-image" />
        <div id="plant_identification" class="plant-id">
          <h3 id="plant_name"><%= plant.name %></h3>
          <p id="identification_status"><%= plant.identification_status %></p>
        </div>
        <p>Height and Spread: <%= plant.height %> X <%= plant.spread %></p>
        <% if (plant.does_the_plant_have_flowers) { %>
          <p>Has Flowers: Yes</p>
        <% } %>
        <% if (plant.does_the_plant_have_leaves) { %>
          <p>Has Leaves: Yes</p>
        <% } %>
        <% if (plant.does_the_plant_have_fruits) { %>
          <p>Has Fruits: Yes</p>
        <% } %>
        <% if (plant.full_sun) { %>
          <p>Sun Exposure Needed: Full Sun</p>
        <% } else if (plant.partial_shade) { %>
          <p>Sun Exposure Needed: Partial Sun</p>
        <% } else if (plant.full_shade) { %>
          <p>Sun Exposure Needed: Full Shade</p>
        <% } %>
        <% if (plant.evergreen) { %>
          <p>Evergreen: Yes</p>
        <% } %>
        <% if (plant.deciduous) { %>
          <p>Deciduous: Yes</p>
        <% } %>
        <% if (plant.succulent) { %>
          <p>Succulent: Yes</p>
        <% } %>
        <p>Picture taken in <%= plant.location %></p>
        <p>Seen at <%= plant.sight_time_formatted %></p>
        <p id="user_nickname">Uploaded by: <%= plant.user_nickname %></p>
        <p><%= plant.time_formatted %></p>
        <button id="DBPediaButton">Get DBPedia Results</button>
      </div>
      <div class="information-side">
        <div class="plant-information">
          <h3>Description</h3>
          <p><%= plant.desc %></p>
        </div>
        <!-- Message Area for comments -->
        <div id="message_area" class="message-area">
          <h3>Comments</h3>
          <% comments.forEach(function(comment) { %>
            <p><b><%= comment.name %>:</b> <%= comment.message %></p>
          <% }); %>
        </div>
        <div id="send_message"></div>
      </div>
    </div>
  </body>
</html>
