<!DOCTYPE html>
<html>
  <head>
    <script src="plantViewLogic.js" defer></script>
  </head>
  <body>
    <div class="plant-information-container">
      <div class="image-side">
        <img src="/images/uploads/<%= plant.img %>" alt="plant" />
        <h3 id="plant_name"><%= plant.name %></h3>
        <p>Picture taken in <%= plant.location %></p>
        <p>Seen at <%= plant.sight_time_formatted %></p>
        <p>Uploaded by: <%= plant.user_nickname %></p>
        <p><%= plant.time_formatted %></p>
        <button id="DBPediaButton"> Get DBPedia Results </button>
      </div>
      <div class="information-side">
        <div class="plant-information">
          <p><%= plant.desc %></p>
        </div>
        <!-- Message Area for comments -->
        <div id="message_area" class="message-area">
          <% comments.forEach(function(comment) { %>
            <p><b> <%= comment.name %>:</b> <%= comment.message %></p>
          <% }); %>
        </div>
        <div id="send_message">

        </div>
      </div>
    </div>
  </body>
</html>