<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div class="plant-information-container">
      <div class="image-side">
        <img src="/images/uploads/<%= plant.img %>" alt="plant" />
        <h3><%= plant.name %></h3>
        <h3>Uploaded by: <%= plant.user_nickname %></h3>
        <p><%= plant.time %></p>
      </div>
      <div class="information-side">
        <div class="plant-information">
          <p><%= plant.desc %></p>
        </div>
        <!-- Message Area for comments -->
        <div id="message_area" class="message-area">
          <!-- Messages will be dynamically inserted here -->
        </div>
        <form onSubmit="return false;" style="width: 100%">
          <p>
            <input
              type="text"
              id="comment_input"
              name="chat_input"
              style="width: 80%"
              placeholder="Write a comment..."
            />
            <button id="chat_send" , onclick="sendComment()">Send</button>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
