<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div class="view-plant-container" , onload="init()">
      <div class="plant-information-container">
        <div class="image-side">
          <img src="/images/uploads/<%= plant.img %>" alt="plant" />
        </div>
        <div class="information-side">
          <div class="plant-information">
            <h3><%= plant.name %></h3>
            <p><%= plant.desc %></p>
            <h3><%= plant.user_nickname %></h3>
          </div>
          <!-- Message Area for comments -->
          <div id="message_area" class="message-area">
            <p><%= plant.comments %></p>
          </div>
          <form onSubmit="return false;" style="width: 100%">
            <p>
              <label for="name"> Comment: </label>
              <input type="text" id="comment_input" style="width: 80%" />
              <button id="chat_send" , onclick="sendComment()">Send</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
